<!--begin:: Widgets/Stats2-1 -->
<div class="m-widget1">
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">Terminal 3 West Modernization</h3>
				<span class="m-widget1__desc">SFO International Airport</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-brand">$62,587,800</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">Gilead NB357 & Pilot Lab</h3>
				<span class="m-widget1__desc">Gilead Sciences</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-danger">$42,198,557</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">SF Crime Lab</h3>
				<span class="m-widget1__desc">Traffic Company & Forensics Services Facility</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-success">-27,49%</span>
			</div>
		</div>
	</div>
	<div class="m-widget1__item">
		<div class="row m-row--no-padding align-items-center">
			<div class="col">
				<h3 class="m-widget1__title">SFO Courtyard 3</h3>
				<span class="m-widget1__desc">San Francisco International Airport</span>
			</div>
			<div class="col m--align-right">
				<span class="m-widget1__number m--font-brand">+$50,800</span>
			</div>
		</div>
	</div>
</div>
<!--end:: Widgets/Stats2-1 -->
